# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=969fl5an
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_REVALIDATE_SECRET=
SANITY_WRITE_TOKEN=sknet60yrYYMGsv4qE1HiKynC6WjPct80KWF8KOcUSYoY8Xmc3ASw9WgvipaniCNjZxKiW5TzWV3251NbYqdaG8XsQVkD8VKgdPUtC6s5Em5UQ1b3DLeoTrqw8XVO2f1zSLcLEWS8vqRl7fJWzgY2BBd4MuneRAaO7CRUzQX9vbpzgA6i3Xc

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://pfzdsxtszhkpjwaprseb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmemRzeHRzemhrcGp3YXByc2ViIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYxMzM3MTYsImV4cCI6MjA3MTcwOTcxNn0.C9stTzsmoUhbKyisqz_86GxLMgDrxRxZGSu_wzol3rc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmemRzeHRzemhrcGp3YXByc2ViIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjEzMzcxNiwiZXhwIjoyMDcxNzA5NzE2fQ.1xtgbfOqXmW_V1oJk_iqrLV_Wo7hz9Fmf_13Vq6gOZk

# Webhook secret for Sanity on-demand revalidation. Generate in Sanity Manage → Project → API → Webhooks
# SANITY_WEBHOOK_SECRET=your-webhook-secret-from-sanity

# reCAPTCHA
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6Lfi4mssAAAAAI35VG3UF7vzaP4rHZfuXylSjQcb
RECAPTCHA_SECRET_KEY=6Lfi4mssAAAAALRfn9N9164wULsnJrXuOz37PTi6
